/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-waves-display {
	min-height: 400px;
	display: grid; 
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	min-height: 70vh;
	& > * {
		position: relative;
		&::before {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.maps {
		&::before {
			content: "Map";
			color: #fff;
		}
		background: #588da8;
	} 
	.charts {
		&::before {
			content: "Charts";
		}
		background: #f0f0f0;
		@media (min-width: 768px) {
			grid-area: 1 / 2 / 2 / 3;
		}
	}
}

.components-form-token-field__suggestions-list {
	padding-left: 0;
}