// Bootstrap
// $font-family-sans-serif: 'Lato', sans-serif;
// @use '../node_modules/bootstrap/scss/bootstrap';
// @use '../node_modules/react-datepicker/src/stylesheets/datepicker';

// // Custom Styles
@use './scss/block';
@use './scss/colors';
@use './scss/fonts';
@use './scss/layout';
@use './scss/chart';
@use './scss/map';
@use './scss/news';
@use './scss/card';
@use './scss/modal';
@use './scss/form';

.clearfix {
	&::before,
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

