@keyframes fadeInOne {
  0% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes fadeInTwo {
  0% { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 1; }
  90% { opacity: 1; }
}
@keyframes fadeInThree {
  0% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 1; }
  90% { opacity: 1; }
}
@keyframes fadeInFour {
  0% { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 1; }
  90% { opacity: 1; }
}
@keyframes fadeInFive {
  0% { opacity: 0; }
  70% { opacity: 0; }
  80% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.chart-surround {
  margin: 0 -25px;
  @media (min-width: 768px) { 
    margin: 0 -40px;
  }
}

.buoy-description {
  display: none;
  .expanded & {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }
  & > * {
    padding: 0.25em 0.5em;
  }
  .image,
  .memplot {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.chart-info {
  margin: 0.3em ​0 1em;
  position: relative;
  padding: 0 10px;
  dl {
    pointer-events: none;
  }
  ul {
    display: flex;
    font-size: min(12px, 0.75rem);
    list-style: none;
    padding-left: 0;
    margin: 0.25em 0 0.25em 1px;
    flex-wrap: wrap;
    li {
      border: 1px solid #f0f0f0;
      margin-top: -1px;
      margin-left: -1px;
      padding: 0.25em 0.5em;
      font-weight: 400;
      break-inside: avoid;
      span {
        font-weight: 300;
        display: block;
        margin-top: 0.2em;
      }
    }
  }
}

.react-datepicker-wrapper {
  margin-left: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  background: #f0f0f0;
  position: relative;
  border: 1px solid #111;
  &::before {
    content: "\f133";
    font-family: "FontAwesome";
    font-size: 0.9rem;
    margin-right: 2px;
  }
  &::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
  }
  input[type="text"] {
    font-size: 0.75rem;
    min-width: 160px;
    color: #111;
    background: transparent;
    border: 0 none;
    display: block;
    padding-right: 10px;
  }
  button {
    border-radius: 0;
  }
}

.card {
  .btn-group {
    & > button.btn {
      font-family: 'Lato', sans-serif;
      white-space: nowrap;
      border-radius: 0;
      &:before {
        font-family: 'FontAwesome';
        margin-right: 3px;
      }
    }
  }
  &.card-primary {
    border-color: var(--header);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    .card-header {
      background: var(--header);
      padding: 6px ;
      @media (min-width: 768px) { 
        padding: 6px 10px;
      }
      h6 {
        font-size: min(12px, 0.75rem); 
        margin: 0 0 0.5em;
        line-height: 1.25em;
        font-weight: 600;
        color: #fff;
        @media (min-width: 768px) { 
          margin: 0.5em 0;
        }
        span {
          opacity: 0 !important;
        }
      }
      & > .btn-group {
        @media (max-width: 767px) { 
          flex-wrap: wrap;
        }
      }
      time {
        display: block;
      }
      button.btn {
        // color: #fff;
        // border-color: #fff;
        background: #f0f0f0;
        color: #111;
        font-size: 0.75rem;
        // font-size: min(12px, 0.75rem);
        &.btn-datepicker {
          min-width: 190px;
          text-align: left;
          .fa.fa-caret-down {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
    .card-body {
      // padding: 10px 15px 5px;
      h5.latest-observations {
        // padding-left: 16px;
        margin: 0.5em 0 0;
        font-size: min(13px, 0.8125rem);
        font-weight: 600;
        .out-of-date {
          color: red;
        }
      }
      .canvas-legend {
        font-size: min(12px, 0.75rem);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        label {
          padding: 0 5px;
          span {
            // text-decoration: line-through;
            opacity: 0.25;
            transition: opacity 0.2s;
          }
          input[type="checkbox"] {
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 16px;
            height: 16px;
            background: transparent;
            &:checked {
              & + span {
                text-decoration: none;
                opacity: 1;
              }
              &:before {
                opacity: 1;
              }
            }
            &:after,
            &:before {
              content: '';
              background: var(--checkbox-background);
              width: 16px;
              height: 16px;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
            }
            &:before {
              transition: opacity 0.2s;
              opacity: 0.5;
            }
            &:after {
              background: #fff;
              z-index: 5;
            }
          }
        }
      }
      .canvas-wrapper {
        position: relative;
        transition: opacity 0.5s;
        &.is-updating {
          canvas {
            opacity: 0.5;
          }
        }
        body:not(.page-template-wave-display-react) & {
          &.no-results,
          &.loading {
            &:after {
              content: 'Loading';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-transform: uppercase;
              letter-spacing: 0.1em;
            }
            canvas {
              min-height: 35vh;
              transition: opacity 0.3s;
              @media (min-width: 768px) { 
                opacity: 0.5;
                width: 100%;
                height: 0;
                min-height: 0;
                padding-bottom: 40%;
              }
            }
            & + h5.latest-observations {
              display: none;
            }
          }
          &.no-results {
            &:after {
              content: 'No results found';
              color: #c0c0c0;
            }
            canvas {
              @media (min-width: 768px) { 
                padding-bottom: 35px;
              }
            }
          }
        }
      }
    }
  }
}

.litepicker {
  font-size: min(12px, 0.75rem);
}

.warning {
  // @extend .alert;
  @extend .alert-danger !optional;
  padding: 0.1em 0.25em;
}

.modal-header {
  --bs-modal-header-padding: 0.65rem 1rem;
}
.modal-body {
  p {
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.2em;
  }
  .form-control {
    border-radius: var(--bs-border-radius);
  }
}

.modal-dialog {
  .modal-content {
    .btn {
      font-size: min(13px, 0.825rem);
    }
  }
}

.buoy-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 10px;
  column-gap: 15px;
  .chart-memplot,
  .chart-image,
  .chart-description {
    & > * {
      &:not(img) {
        &:first-child {
          margin-top: 0.25em;
        }
      }
    }
    p {
      margin: 0.5em 0;
    }
  }
  .chart-memplot {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    img {
      grid-area: 1 / 1 / 2 / 2;
      opacity: 0;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      max-width: 100%;
      height: auto;
      &:first-child {
        animation-name: fadeInOne;
      }
      &:nth-child(2) {
        animation-name: fadeInTwo;
      }
      &:nth-child(3) {
        animation-name: fadeInThree;
      }
      &:nth-child(4) {
        animation-name: fadeInFour;
      }
      &:nth-child(5) {
        animation-name: fadeInFive;
      }
    }
  }
  .chart-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

#chartModal {
  display: block;
  .btn-close {
    border: none;
    font-size: min(15px, 0.9375rem);
    background: transparent;
    &:hover {
      opacity: 0.6;
    }
  }
}

form {
  .form-group {
    margin-bottom: 0.5em;
  }
  
  .form-select {
    & + .form-control {
      margin-top: 0.5;
    }
  }
}