@keyframes fadeInOne {
  0% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes fadeInTwo {
  0% { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 1; }
  90% { opacity: 1; }
}
@keyframes fadeInThree {
  0% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 1; }
  90% { opacity: 1; }
}
@keyframes fadeInFour {
  0% { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 1; }
  90% { opacity: 1; }
}
@keyframes fadeInFive {
  0% { opacity: 0; }
  70% { opacity: 0; }
  80% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.chart-surround {
  margin: 0 -25px;
  @media (min-width: 768px) { 
    margin: 0 -40px;
  }
}

.buoy-description {
  display: none;
  .expanded & {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }
  & > * {
    padding: 0.25em 0.5em;
  }
  .image,
  .memplot {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.chart-info {
  margin: 0.3em 0 0;
  position: relative;
  padding: 0 10px;
  dl {
    pointer-events: none;
  }
  ul {
    display: flex;
    font-size: min(12px, 0.75rem);
    list-style: none;
    padding-left: 0;
    margin: 0.25em 0 0.25em 1px;
    flex-wrap: wrap;
    li {
      border: 1px solid #f0f0f0;
      margin-top: -1px;
      margin-left: -1px;
      padding: 0.25em 0.5em;
      font-weight: 400;
      break-inside: avoid;
      
      span {
        font-weight: 300;
        display: block;
        margin-top: 0.2em;
      }
    }
  }
}

.react-datepicker-wrapper {
  background: var(--button);
  border: 1px solid var(--button-border);
  color: var(--button-color);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: var(--waves-display--font-family);
  gap: 5px;
  @media (min-width: 992px) {
    padding: 0.3rem 1rem;
  }
  &::before {
    content: "\f133";
    font-family: "FontAwesome";
    font-size: 0.9rem;
    // margin-right: px;
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 1280px) {
      display: block;
    }
  }
  &::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-size: 0.8rem;
    // position: absolute;
    // top: 50%;
    // right: 20px;
    // transform: translate(0, -50%);
  }
  &:hover {
    background: var(--button--color--hover);
  }
  input[type="text"] {
    font-size: 0.8rem;
    min-width: 138px;
    color: var(--button-color);
    background: transparent;
    border: 0 none;
    display: block;
    text-align: center;
    padding: 0;
    &:focus-visible {
      outline: none;
    }
  }
  button {
    border-radius: 0;
  }
}

button.btn {
  font-family: var(--waves-display--font-family);
  white-space: nowrap;
  border-radius: 0;
  padding: 4px 6px;
  border: 1px solid #6f6f6f;
  background: #f0f0f0;
  color: #111;
  font-size: 0.8rem;
  &:before {
    font-family: 'FontAwesome';
    margin-right: 3px;
  }        
  &.btn-datepicker {
    min-width: 190px;
    text-align: left;
    .fa.fa-caret-down {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.litepicker {
  font-size: min(12px, 0.75rem);
}

.warning {
  // @extend .alert;
  @extend .alert-danger !optional;
  padding: 0.1em 0.25em;
}

.modal-header {
  --bs-modal-header-padding: 0.65rem 1rem;
}
.modal-body {
  p {
    font-size: 1rem;
  }
  label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.2em;
  }
}

.modal-dialog {
  .modal-content {
    .btn {
      font-size: min(13px, 0.825rem);
    }
  }
}

.buoy-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 10px;
  column-gap: 15px;
  .chart-memplot,
  .chart-image,
  .chart-description {
    & > * {
      &:not(img) {
        &:first-child {
          margin-top: 0.25em;
        }
      }
    }
    p {
      margin: 0.5em 0;
    }
  }
  .chart-memplot {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    img {
      grid-area: 1 / 1 / 2 / 2;
      opacity: 0;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      max-width: 100%;
      height: auto;
      &:first-child {
        animation-name: fadeInOne;
      }
      &:nth-child(2) {
        animation-name: fadeInTwo;
      }
      &:nth-child(3) {
        animation-name: fadeInThree;
      }
      &:nth-child(4) {
        animation-name: fadeInFour;
      }
      &:nth-child(5) {
        animation-name: fadeInFive;
      }
    }
  }
  .chart-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

#chartModal {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-close {
    border: none;
    font-size: min(15px, 0.9375rem);
    background: transparent;
    &:hover {
      opacity: 0.6;
    }
  }
}

form {
  .form-group {
    margin-bottom: 0.5em;
  }
  
  .form-select {
    & + .form-control {
      margin-top: 0.5;
    }
  }
}

.chart-legend {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2px 18px;
  align-items: center;
  flex-direction: column;
  margin: 6px 0 16px;
  h6 {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
  }
  & > li {
    display: none;
    &:has(input:checked) {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 10px;
    }
    li {
      label {
        font-size: 11px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 3px;
        font-weight: 400;
      }
      &:has(input:not(:checked)) {
        display: none;
      }
      input {
        display: none;
      }
    }
  }
}

.chart-filter {
  position: relative;
  display: flex;
  justify-content: flex-end;
  .chart-filter-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -12px;
    border: 1 solid var(--card--border--color);
    padding: 0;
    list-style: none;
    background: #fff;
    margin: 0;
    font-size: 0.9rem;
    z-index: 999;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
    border-radius: 8px;
    overflow: hidden;
    & > li {
      // margin: 6px 0;
      // padding: 10px;
      background: var(--header--background);
      border-radius: 5px;
      // &:not(:last-child) {
      //   padding-bottom: 0.5em;
      //   margin-bottom: 0.5em;
      //   border-bottom: 1px solid #f0f0f0;
      // }
      &:has(.items:empty) {
        display: none;
      }
      &:last-child {
        & > ul {
          border-bottom: 0 none;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 0.8rem;
      gap: 5px;
    }
    input {
      margin: 0;
    }
    h6 {
      margin: 0;
      padding: 10px 10px;
      border-bottom: 1px solid var(--card--border--color);
      font-size: 0.8rem;
    }
    ul {
      margin: 0;
      list-style: none;
      padding: 10px 16px;
      background: #fff;
      border-bottom: 1px solid var(--card--border--color);
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      
      ul {
        margin: 0 0 0.5em;
        padding-left: 5px;
      }
    }
  }
}

li[class^="filter-"] {
  label span {
    display: flex;
    align-items: center;
    gap: 4px;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      border: 1px solid;
      display: block;
      border-radius: 10px;
    }
    
  }
  &.filter-hsig label span::before { 
    background-color: rgba(77, 168, 248, 0.2);
    border-color: rgba(77, 168, 248, 1);
  }
  &.filter-tp label span::before { 
    // background-color: rgba(237, 135, 80, 1);
    // border-color: rgba(235, 127, 74, 0.5);
    border-radius: 0;
    border: 0 none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDEyIDEyIj48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIuODIiIHgyPSIxMS4yMSIgeTE9IjUuOTkiIHkyPSI1Ljk5IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMDI5NDQgLS4wMzM5NyAtLjAzMzg2IDEuMDMxNjggLS4wNiAuMDYpIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZjJhNzYxIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZWI3ZDRhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHBhdGggZD0iTTExLjUuNSAxLjYyIDMuNDFsMi4wMSAyTC41IDguNTRsMS40OCAxLjQ4IDEuNDggMS40OCAzLjEzLTMuMTMgMiAyLjAxTDExLjUuNXoiIHN0eWxlPSJmaWxsOnVybCgjYSk7c3Ryb2tlLXdpZHRoOjAiLz48L3N2Zz4=");
  }
  &.filter-tm label span::before { 
    // border-color: rgba(255, 158, 64, 1);
    // background-color: rgba(255, 158, 64, 0.2);
    border-radius: 0;
    border: 0 none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDEyIDEyIj48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIuMzEiIHgyPSIxMC43IiB5MT0iNi41IiB5Mj0iNi41IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMDI5NDQgLS4wMzM5NyAtLjAzMzg2IDEuMDMxNjggLjQ4IC0uNDgpIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNmZjYmZhIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNGRhOGY4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHBhdGggZD0iTTExLjUuNSAxLjYyIDMuNDFsMi4wMSAyTC41IDguNTRsMS40OCAxLjQ4IDEuNDggMS40OCAzLjEzLTMuMTMgMiAyLjAxTDExLjUuNXoiIHN0eWxlPSJmaWxsOnVybCgjYSk7c3Ryb2tlLXdpZHRoOjAiLz48L3N2Zz4=");
  }
  &.filter-sst label span::before { 
    background-color: rgba(194, 59, 34, 0.05);
    border-color: rgba(194, 59, 34, 1);
  }
  &.filter-bottomTemp label span::before { 
    background-color: rgb(255, 159, 64, 0.2);
    border-color: rgb(255, 159, 64, 1);
  }
  &.filter-windspeed label span::before { 
    background-color: rgba(77, 168, 248, 0.2);
    border-color: rgba(77, 168, 248, 1);
  }
  &.filter-currentMag label span::before { 
    background-color: rgba(165, 223, 223, 0.2);
    border-color: rgba(75, 192, 192, 1);
  }
  &.filter-currentDir label span::before { 
    background-color: rgba(75, 192, 192, 0.2);
    border-color: rgba(75, 192, 192, 1);
  }
  &.filter-hsigSwell label span::before {
    background-color: rgba(198, 60, 213, 0);
    border-color: rgba(198, 60, 213, 1);
  }
  &.filter-hsigSea label span::before {
    background-color: rgba(254, 240, 39, 0);
    border-color: rgba(252, 185, 0, 1);
  }
  &.filter-tmSwell label span::before {
    background-color: rgba(76, 192, 192, 0);
    border-color: rgba(76, 192, 192, 1);
  }
  &.filter-tmSea label span::before {
    background-color: rgba(255, 99, 132, 0);
    border-color: rgba(255, 99, 132, 1);
  }
  
  
}

.chart-gauges {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  .gauge {
    display: flex;
    flex-direction: column;
    align-items: center;
    h6 {
      margin: 0 0 5px;
    }
    p {
      font-size: 0.8rem;
      margin: 5px 0 0;
      font-weight: 600;
    }
    .needle {
      background: #000; // var(--warning);
      width: 8px;
      height: 70px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -100%);
      transform-origin: bottom center;
      clip-path: polygon(50% 0, 100% 90%, 50% 100%, 0 90%);
      [data-theme="theme-dark"] & {
        background: #fa0000;
      }
    }
    .gauge-dial {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      position: relative;
      @for $i from 0 through 359 {
        &[data-level="#{$i}"] .needle {
          transform: translate(-50%, -100%) rotate(#{$i}deg);
        }
      }
      &.gauge-wind-direction {
        background: url(../images/compass.svg) 0 0/100% auto no-repeat; // var(--header--background);
      }
      &.gauge-sea-temp {
        background: url(../images/temp-gauge@2x.png) 0 0/100% auto no-repeat;
        [data-theme="theme-dark"] & {
          background: url(../images/dark-temp-gauge@2x.png) 0 0/100% auto no-repeat;
        }
      }
      &.gauge-sea-state {
        background: url(../images/sea-state@2x.png) 50% 50%/100% auto no-repeat;
        .needle {
          background: rgba;
        }
      }
    }
  }
}