:root {
	--card--border--color: rgb(229, 234, 242); // rgb(151, 195, 240);
	--header--background: rgba(243, 246, 249, 0.2); // rgb(11, 107, 203);
	--body--background: #ffffff; // rgb(11, 107, 203);
	--header--color: rgb(28, 32, 37);
	--body--color: #000;
	--button: #ffffff; // #5cb85c;
	--button-border: rgb(205, 215, 225); // #4cae4c;
	--button-color: rgb(28, 32, 37);
	--button--color--hover: rgb(240, 244, 248);
	--warning: rgb(196, 28, 28);
}

.is-dark-mode {
	
}