#historic-data {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1000;
	background: none rgb(255, 255, 255);
	border: 0px;
	margin: 10px;
	padding: 0px;
	text-transform: none;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	label {
		margin: 0;
		display: flex;
		align-items: center;
		font-size: min(13px, 0.8125rem);
		input[type="checkbox"] {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
		& + label {
			margin-top: 5px;
		}
	}
}

// .gm-style-iw {
// 	max-width: 350px !important;
// }
// .gm-style-iw-ch {
// 	display: none;
// }

.info-window {
	.wp-block-button__link {
		display: inline-block;
	}
}

.gm-style-iw {
	button.gm-ui-hover-effect {
		width: 28px !important;
		height: 28px !important;
		& > span {
			margin: 4px 4px 0 0 !important;
		}
	}
}

.buoy-marker-is-enabled,
.buoy-marker-is-archive {
	font-size: 2.2em;
	color: #e26a26;
	opacity: 0.8;
	line-height: 0.5em;
}
.buoy-marker-is-archive {
	color: #a0a7ac;
}

.svg-marker {
	width: 16px;
	height: 16px;
	fill: #e26a26;
	position: relative;
	top: 8px;
	.border {
		fill: #b24c00;
	}
	.bg {
		opacity: 0.8;
		fill: #e26a26;
	}
}